* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3f768a;
  font-family: kallisto, sans-serif;
}

/* Typography */

h1 {
  font-size: 1.6rem;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 3px 3px black;
  margin-bottom: 10px;
}

h1,
h2 {
  text-align: center;
}

li {
  list-style: none;
}

.page-container {
  max-width: 1280px;
  margin: auto;
}

/* Header 8 */
.header {
  background-color: white;
  padding: 0.5em 0.5em 0em 0.5em;
  border: 2px solid black;
}

.header .banner {
  width: 100%;
  margin-bottom: 2px;
}

.header .social-links {
  margin: 0;
  justify-content: right;
  align-items: center;
  display: flex;
}

.header .social-links li .icon {
  max-width: 42px;
  margin-left: 10px;
}

.header .social-links li p {
  white-space: nowrap;
}

/* marquee */

.marquee {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #fdde14;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.marquee div {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 100%;
  display: inline-block;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

/* hero image */

.hero {
  height: 20vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mailing List */
.mailing-list {
  padding: 10px;
}

form {
  text-align: center;
}

.email {
  width: 250px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px black;
  padding-left: 8px;
}

.button {
  cursor: pointer;
  background-color: #fdde14;
  border: 2px solid black;
  border-left: 0;
  height: 42px;
  min-width: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Artist Connect */

form input {
  height: 42px;
  margin: 0;
  padding: 0;
}

.errorAnim {
  color: red;
}
