* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: #3f768a;
  font-family: kallisto, sans-serif;
}

.icon {
  max-width: 40px;
}

/* Typography */


h1,
h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: white;
  letter-spacing: 2px;
  text-shadow: 0 3px 3px black;
}

li {
  list-style: none;
}

.page-container {
  max-width: 1280px;
  margin: auto;
}

/* Header 8 */
.header {
  background-color: white;
  padding: 0.5em 0.5em 0em 0.5em;
  border: 2px solid black;
}

.header .icon {
  margin-left: 10px;
}

.header .banner {
  width: 100%;
  margin-bottom: 2px;
}

.header .social-links {
  margin: 0;
  justify-content: right;
  align-items: center;
  display: flex;
}

.header .social-links li p {
  white-space: nowrap;
}

/* marquee */

.marquee {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #fdde14;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.marquee div {
  font-weight: 600;
  font-size: 2rem;
  padding-left: 100%;
  display: inline-block;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}

/* hero image */

.hero {
  height: 20vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mailing List */

.mailing-list,
.artist-connect {
  padding: 10px;
}

form {
  text-align: center;
}

.email {
  width: 250px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px black;
  padding-left: 8px;
}

.button {
  cursor: pointer;
  background-color: #fdde14;
  border: 2px solid black;
  border-left: 0;
  min-width: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form input {
  height: 42px;
  margin-bottom: 20px;
  padding: 0;
}

.errorAnim {
  color: red;
}

/* Artist Connect */
.artist-connect {
  background-color: white;
  border: 2px solid black;
}

.artist-profile p {
  font-weight: 600;
}

.artist-profile {
  margin: 0 auto;
  max-width: 290px;
}



.artist-profile .social-links {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: auto 40px 40px;
  background-color: white;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
}

.artist-profile:last-of-type {
  margin-bottom: 60px;
}


/* Footer */ 

footer {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 100%;
  height: 70px;
  max-width: 1280px;
  text-align: center;
  background-color: white;
}

footer .footer-border {
  height: 10px;
  border-bottom: 2px solid black;
  background-color: #fdde14;
}

.logo-wrapper {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 2px;
  text-align: center;
}
